/* This rule is read by Galleria to define the gallery height: */
#galleria {
    height:100vh
}

/* add custom styles */
body {
    overflow: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
}