*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 0;
}

body {
    /*z-index: 0;*/
    width: 100%;
    cursor: crosshair;
    height: 100%;
    margin: auto;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}
#background-triangle{
    z-index: -5000;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right bottom,  #daf0e6  50%, transparent 50%);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    padding: 0;
}
#bg-container{
    position: fixed;
    z-index: -9999;
    width: 100%;
    height: 100%;
}
/*#bg-image{
    float: right;
    width: 100%;
    height: 100%;
    min-width: 1600px;
    min-width: 1800px;
    background-image: url(../images/plant-background.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}*/
#scene{
    z-index: -7500;
position: fixed;
/*width: 100%;
height: 100%;*/
bottom: 0;
right: 0;

}
#scene > img {
    width: 50%;
    height: auto;
}
/*#scene > li{
    width: 100%;
    height: 100%;

}*/
/*#dots{
    background-image: url(../images/dot-03.png);
    background-repeat: repeat;
    background-size: 110%;
    width: 100%;
    height: 100%;
}*/
/*.back-container {
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: -9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.scene {
    padding: 0;
    margin: 0;
}
.fill {
    position: absolute;
    bottom: 5%;
    right: 5%;
    left: 5%;
    top: 5%;
}

.expand-width {
    width: 100%;
}

.border {
    border: 2px dashed #00FFAA;
}

.aspect {
    opacity: 0.2;
}
.layer:nth-child(1) {
    opacity: 0.15;
}
.layer:nth-child(2) {
    opacity: 0.30;
}
.layer:nth-child(3) {
    opacity: 0.45;
}
.layer:nth-child(4) {
    opacity: 0.60;
}
.layer:nth-child(5) {
    opacity: 0.75;
}
.layer:nth-child(6) {
    opacity: 0.90;
    margin: 0;
    padding: 0;
    width: 120%;
    height: 120%;
}*/

/* NAV */
#site-nav{
    z-index: 9999;
    text-align: right;
    position: absolute;
    width: 100%;
    margin: 1rem 0 0 -3rem;
    padding: 0;
    transition: all .25s;
}

@media (max-width: 790px) {
    #site-nav{
        margin: 5rem 0 0 0;
        text-align: center;
        transition: all .25s;
    }
}
/* END NAV */
/* LOGO / NAME */
.logo{
    width: 30%;
    position: fixed;
    height:400px;
    top: 11rem;
    left: 20%;
    z-index: -5000;
}
#my-logo {
    background-image: url('../images/domu_logo-01.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: top;
    min-width: 150px;
    width: 100%;
    max-width: 400px;
    height: 100%;
}
#outside-name{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
#name{

    width: 40%;
    max-width: 42rem;
    margin-top: 1.2rem;
    padding: 0;
    transition: all 1s;
    text-align: center;
}
@media (max-width: 790px) {
    #name{
        margin-top: .5rem;
        width: 80%;
        max-width: 36rem;
        justify-content: center;
    }
    #outside-name{
        justify-content: center;
    }

}
#my-name {
    background-image: url('../images/name-02-02.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    /*max-width: 40rem;
    min-width: 20rem;*/
    height: 50px;
    margin-left: 5px;

}
/*@media (min-width: 790px) {*/
/*}*/
/* END LOGO / NAME */
/*Galleria height*/
#galleria {
    margin-top: 14rem;
    min-height: 500px;
    width: 100%;
}
.galleria-thumbnails { margin: 0 auto; }
.galleria-thumbnails .galleria-image {
    width: 10px !important;
    height: 10px !important;
    background: white !important;
    border: solid white 1px !important;
    border-radius: 10px !important;
    color: white;
}
.galleria-thumbnails .galleria-image.active {
    background: black !important;
    border: solid black 1px !important;
    border-radius: 10px !important;
    color: transparent;
}

#projects {
    position: absolute;
    top: 120px;
    right:0;
    float: left;
}
.parent {
    height:250px;
    display:table;
    border-spacing:5px;
    vertical-align: middle;
    border-collapse:separate;
}
.child{
    text-align:right;
    display:table-row;
}
/*SOCIAL MEDIA FOOTER*/
#footer {
    /*padding-right: -3rem;*/
    background-color: transparent;
    z-index: 9000;
    position: fixed;
    width: 130%;
    right: 3rem;
    bottom: 0;
    margin: 5px 0 25px 0;
    text-align: right;
}

#footer a:last-child {
    margin-right: -6px;
}
#footer > a {
    /*padding-right: -3rem;*/
    margin-right: 6rem;
    padding:  12px 17px 17px 29px;
}
@media (max-width: 790px) {
    #footer > a {
        margin-right: 2rem;
        padding:  3px 8px 8px 20px;
    }
}
#email  {
    border-radius: 100%;
    background-color: white;
    border: 2px solid #daf0e6;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url(../images/social-icons/icon-01.png);
    transition: all .5s;
}
#email:hover {
    background-color:#daf0e6;
    border-radius: 100%;
    background-size: 65%;
}
#linkedin  {
    border-radius: 100%;
    background-color: white;
    border: 2px solid #daf0e6;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url(../images/social-icons/icon-02.png);
    src: url(https://www.linkedin.com/in/domuttel);
    transition: all .5s;
}
#linkedin:hover {
    background-color:#daf0e6;
    border-radius: 100%;
    background-size: 65%;
}
#github {
    border-radius: 100%;
    background-color: white;
    border: 2px solid #daf0e6;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url(../images/social-icons/icon-03.png);
    transition: all .5s;
}
#github:hover {
    background-color:#daf0e6;
    border-radius: 100%;
    background-size: 65%;
}
#twitter {
    border-radius: 100%;
    background-color: white;
    border: 2px solid #daf0e6;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url(../images/social-icons/icon-04.png);
    transition: all .5s;
}
#twitter:hover {
    background-color:#daf0e6;
    border-radius: 100%;
    background-size: 65%;
}
#cargo {
    border-radius: 100%;
    background-color: white;
    border: 2px solid #daf0e6;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-image: url(../images/social-icons/icon-05.png);
    transition: all .5s;
}
#cargo:hover {
    background-color:#daf0e6;
    border-radius: 100%;
    background-size: 65%;
}
/*END Social Icons*/
/*About Me Information*/
#about-me-info {
    display: none;
    background-size: 100vh;
    padding-top: 10rem;
    text-align: center;
}
.about-info{
    background-color: transparent;
}
@media (min-width: 550px) {
    .about-info{
        background-color: transparent;
    }
}
div.galleria-image-nav-left{
    display: none;
}
#projects span {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 6px;
    transition: all 0.5s;
}
#projects span:hover,
#projects span:focus,
#projects span:active {
    color: white;
    background-image: url(http://prashantsani.com/Misc/codepen/noise.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    padding-left: 60px;
    -webkit-animation: noiseAnim 0.5s infinite linear alternate;
       -moz-animation: noiseAnim 0.5s infinite linear alternate;
         -o-animation: noiseAnim 0.5s infinite linear alternate;
            animation: noiseAnim 0.5s infinite linear alternate;

}
.project-title{
    border: 8px white solid;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.75rem;
    background-color: #daf0e6;
}
.about-project{
    margin-top: 1rem;
    border: 8px white solid;
    padding: 1rem;
    background-color: white;
}

#justify-about > span {
    font-size: 1.8rem;
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.75);;
    line-height: 4rem;
    transition: all 1s;
}
@media (min-width: 790px) {
    #justify-about > span {
        font-size: 2.2rem;
        padding: .7rem;
        background-color: rgba(255, 255, 255, 0.75);;
        line-height: 5.5rem;
    }
}
#center-about {
    text-align: center;
}
#justify-about {
    text-align: center;
    margin-top: 6rem;
}
#social-gap{
    margin-top: 40px;
}
#project-info{
    display: inline-block;
    color: black;
    margin-bottom: 8rem;
}
/*TECH / SKILLS*/

#tech{
    margin-top: 8rem;
    font-size: 1.5rem;
}
#skills{
    margin: 8rem 0;
    font-size: 1.5rem;
}
#my-form{
    padding-bottom: 4rem;
}
