

            /* Demo styles */
/*            .content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:620px;margin:20px auto;}
            .cred{margin-top:20px;font-size:11px;}*/

            /* This rule is read by Galleria to define the gallery height: */
            #galleria{height:100vh}

        /* add custom styles */
